<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcun icon" href="static/assets/logo_dark.png">

    <title>Steer Clear</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/steerclear-theme.css">

    <!-- Custom styles for this template -->

  </head>

  <body class="body">

    <div class="container">
      <div>
        <a href="/login" class="login-link">Driver login</a>
      </div>
      <img src="static/assets/logo.png" class="center-block header-logo-large"/>
      <div>
        Steer Clear is a safe-ride program that provides a reliable, secure and free means of travel for students on weekend nights when school is in session.
      </div>
      <div class="badge-container">
        <a href="/download">
          <img src="static/assets/apple_download_badge.svg" class="download-badge"/>
        </a>
        <a href="/download">
          <img src="static/assets/android_download_badge.png" class="download-badge"/>
        </a>
      </div>
      <div class="cypher-container">
        <img src="static/assets/cypher.png" class="center-block cypher-small"/>
      </div>

    </div>

  </body>
</html>
