/*
	Corynne's Color Palette

	lighter-blue: #266380;
	steer-clear-blue: #00486a;
	darker-blue: #00283A;

	alternate-blue: #1a3a69;
	white: ffffff;
*/


/*All Pages*/

@font-face {
    font-family: antipasto;
    src: url(../fonts/antipasto.otf);
}

.body {
	font-family: antipasto;
 	background-color: #00486a;
 	background-image: url('../assets/background.png');
 	background-size: 100%;
}



/*Rides Queue*/

.rides {
	background-color: rgba(255, 255, 255, 0.15) !important;
	margin-top: 12px;
	border-radius: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.4);
	border-width: 1px;
	white-space: nowrap;
  cursor: initial !important;
}

.first-ride {
  height: 80px;
}

.row-button {
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
}

.row-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.6);
}

.button-icon {
	color: rgba(255, 255, 255, 0.4);
}

.btn:focus {
  outline: none;
}

.check-icon {
	margin-top: 2px;
	margin-right: 7px;
	color: rgba(255, 255, 255, 0.4);
}

.phone-icon {
	margin-top: 2px;
	margin-right: 20px;
	color: rgba(255, 255, 255, 0.4);
}

.ride-text {
	font-size: 120%;
	color: rgba(255, 255, 255, 0.6);
}

.header-logo-small {
	margin-top: 2px;
	height: 135px;
	margin-bottom: 10px;
}



/*Login Pages*/
.inputs {
	text-align: center;
}

.login-transparent {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: rgba(255, 255, 255, 0.8) !important;
	border-color: rgba(255, 255, 255, 0.8);
	border-width: 1px;
}

.login-username {
	display: inline-block;
	width: 40%;
	margin-right: 1px;
	margin-top: 14px;
}

.login-password {
	display: inline-block;
	width: 40%;
	margin-left: 1px;
  margin-right: 1px;
	margin-top: 14px;
}

.button-container {
	text-align: center;
}

.login-button {
	display: inline-block;
	width: 42%;
	margin-top: 18px;
	height: 50px;
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: rgba(255, 255, 255, .8) !important;
  font-size: 150%;
	border-color: rgba(255, 255, 255, 0.8);
	border-width: 1px;
}

.label {
	background-color: #ffffff;
	opacity: 1;
	color: #ffffff;
}

.header-logo-large {
	margin-top: 10px;
	height: 300px;
}

img {
	max-width: 100%;
	height: auto;
    width: auto\9;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*Prevent early loading on angularjs*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.8); }
.form-control:-moz-placeholder { color: rgba(255, 255, 255, 0.8);; }
.form-control::-moz-placeholder { color: rgba(255, 255, 255, 0.8);; }
.form-control:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8);; }
